In [13]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\user\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [14]:
import numpy as np
import pandas as pd

In [89]:
data = pd.read_csv('uber_rides_data.xlsx - sample_train.csv')
df = pd.DataFrame(data)
df

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5
...,...,...,...,...,...,...,...,...
199995,42598914,3.0,2012-10-28 10:49:00 UTC,-73.987042,40.739367,-73.986525,40.740297,1
199996,16382965,7.5,2014-03-14 01:09:00 UTC,-73.984722,40.736837,-74.006672,40.739620,1
199997,27804658,30.9,2009-06-29 00:42:00 UTC,-73.986017,40.756487,-73.858957,40.692588,2
199998,20259894,14.5,2015-05-20 14:56:25 UTC,-73.997124,40.725452,-73.983215,40.695416,1
199999,11951496,14.1,2010-05-15 04:08:00 UTC,-73.984395,40.720077,-73.985508,40.768793,1

In [6]:
df.shape

(200000, 8)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            200000 non-null  int64
 1   fare_amount        200000 non-null  float64
 2   pickup_datetime    200000 non-null  object
 3   pickup_longitude   200000 non-null  float64
 4   pickup_latitude    200000 non-null  float64
 5   dropoff_longitude  199999 non-null  float64
 6   dropoff_latitude   199999 non-null  float64
 7   passenger_count    200000 non-null  int64
dtypes: float64(5), int64(2), object(1)
memory usage: 12.2+ MB

In [22]:
count = df['dropoff_longitude'].isna().sum()
count

1

In [10]:
df['pickup_datetime'].dtype

dtype('O')

In [ ]:
pd.to_datetime(df['pickup_datetime'])

In [24]:
import pandas as pd

df_without_nan = df.dropna(subset=['fare_amount'])

mean = df_without_nan['fare_amount'].mean()

print(mean)

11.359955250000002

In [142]:
import pandas as pd
import math
def calculate_haversine_distance(row):
    lat1 = row['pick_lat_radians']
    lon1 = row['pick_long_radians']
    lat2 = row['drop_lat_radians']
    lon2 = row['drop_long_radians']

    dlat = lat2 - lat1
    dlon = lon2 - lon1

    x = (math.sin(dlat / 2) ** 2) + math.cos(lat1) * math.cos(lat2) * (math.sin(dlon / 2) ** 2)
    y = 2 * math.atan2(math.sqrt(x), math.sqrt(1 - x))
    distance = 6371.01 * y

    return distance


df['pick_lat_radians'] = df['pickup_latitude'].apply(math.radians)
df['pick_long_radians'] = df['pickup_longitude'].apply(math.radians)
df['drop_lat_radians'] = df['dropoff_latitude'].apply(math.radians)
df['drop_long_radians'] = df['dropoff_longitude'].apply(math.radians)


df['pick_lat_radians'] = df['pick_lat_radians'].astype('float')
df['pick_long_radians'] = df['pick_long_radians'].astype('float')
df['drop_lat_radians'] = df['drop_lat_radians'].astype('float')
df['drop_long_radians'] = df['drop_long_radians'].astype('float')


df['distance'] = df.apply(calculate_haversine_distance,axis = 1)


print(df['distance'])
print(df['distance'].median())

0          1.683326
1          2.457594
2          5.036385
3          1.661686
4          4.475457
            ...
199995     0.112210
199996     1.875053
199997    12.850339
199998     3.539720
199999     5.417792
Name: distance, Length: 200000, dtype: float64
2.120995725319136

In [94]:
round(df['distance'].max(),2)

16409.26

In [130]:
count = (round(df['distance'],2) == 0.0).sum()
count1 = df['distance'].isna().sum()
count2 = count - count1
print(count2)

5996

In [141]:
zero_dis_rides = df[df['distance'] == 0.0]
mean = zero_dis_rides['fare_amount'].mean()
print(mean)

11.585317826704546

In [108]:
max_fare = df['fare_amount'].max()

print(max_fare)

499.0

In [140]:
max_fare_index = df['fare_amount'].idxmax()

max_fare_distance = df.loc[max_fare_index, 'distance']

print( max_fare_distance)

0.0007899225589712225

In [139]:
import pandas as pd

df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])  
df['year'] = df['pickup_datetime'].dt.year
print( df[df['year'] == 2014]['ride_id'].count())

29968

In [135]:
import pandas as pd
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])  
df['quarter'] = df['pickup_datetime'].dt.quarter
rides_in_first_quarter_2014 = df[(df['year'] == 2014) & (df['quarter'] == 1)]
print(len(rides_in_first_quarter_2014))

7687

In [132]:
import pandas as pd
from datetime import datetime
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])  
rides_in_september_2010 = df[(df['pickup_datetime'].dt.year == 2010) & (df['pickup_datetime'].dt.month == 9)]
rides_by_day_of_week = rides_in_september_2010['pickup_datetime'].dt.day_name().value_counts()
day_with_max_rides = rides_by_day_of_week.idxmax()
maximum_rides_count = rides_by_day_of_week.max()
print(day_with_max_rides)

Thursday